*{margin:0;padding:0;}
body{
	font-family:Verdana, Helvetica-Neue, Arial, sans-serif;
	font-size:100%;
}

#wrapper{
	margin:0 auto;
	max-width:61.25rem;
	padding:0 1.25rem;
}

#main-content{
	padding:0 1.25rem;
}

header{
	background:rgb(100,100,100);
	border:solid rgb(20,20,20);
	border-width:0 0 2px 0;
	padding:0 1.25rem;
	height:4rem;
}

.inlineBold{
	font-weight:bold;
}

.inlineItal{
	font-style:italic;
}

.inlineBoldItal{
	font-weight:bold;
	font-style:italic;
}

header h1{
	font-size:2rem;
	font-weight:normal;
	font-style:italic;
	color:rgb(200,200,200);
	padding:1.5rem 0 0 0;
}

#explanation{
	margin:2rem 0 0 0;
	max-width:50%;
	border:dotted rgb(80,80,80);
	padding:0 0 1rem 0;
	border-width:0 0 1px 0;
}

#explanation h3{
	font-weight:bold;
	font-size:1rem;
}

#explanation p{
	font-size:0.8rem;
	line-height:1.5;
}

footer{
	height:1rem;
	background:rgb(100,100,100);
	border:solid rgb(20,20,20);
	border-width:2px 0 0 0;
	padding:1.25rem;
	margin:2rem 0 0 0;
}

footer p{
	font-size:0.6rem;
	color:rgb(200,200,200);
}

#contact-form{
	border:2px solid rgb(200,200,200);
	border-radius:6px;
	max-width:50%;
	margin:2rem 0 2rem 0;
	padding:1rem;
	background:rgb(220,220,220);
}

#contact-form p{
	margin:0 0 1rem 0;
}

.hidden{
	display:none;
}
		
.error{
	font-weight:normal;
	font-size:0.7rem;
	font-style:italic;
	color:red;
}

label{
	font-size:0.8rem;
	font-weight:bold;
}

::-webkit-input-placeholder { font-size:0.6rem; font-family:Verdana, Helvetica-Neue, Arial, sans-serif; }
::-moz-placeholder { font-size:0.6rem; font-family:Verdana, Helvetica-Neue, Arial, sans-serif; } /* firefox 19+ */
:-ms-input-placeholder { font-size:0.6rem; font-family:Verdana, Helvetica-Neue, Arial, sans-serif; } /* ie */
input:-moz-placeholder { font-size:0.6rem; font-family:Verdana, Helvetica-Neue, Arial, sans-serif; }


#message{
	width: 85%; 
	max-width:85%;
	height: 180px;
	padding:2px 0 0 2px;
}

#name, #phone, #email{
	width:50%;
	max-width:50%;
}
